@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(251, 251, 252);
    --foreground: #1b1b1b;

    --muted: #f3f7f9;
    --muted-foreground: #72777d;

    --popover: #ffffff;
    --popover-foreground: #1b1b1b;

    --border: #ebeef0;
    --input: #ebeef0;

    --card: #ffffff;
    --card-foreground: #1b1b1b;

    --primary: #2d22ab;
    --primary-foreground: #ffffff;

    --secondary: #f3f7f9;
    --secondary-foreground: #1b1b1b;

    --accent: #f3f7f9;
    --accent-foreground: #1b1b1b;

    --destructive: #ff0000;
    --destructive-foreground: #fcfcfc;

    --ring: #a6b1b7;

    --radius: 0.5rem;
  }

  .dark {
    --background: #000000;
    --foreground: #e7e9eb;

    --muted: #10161b;
    --muted-foreground: #666d73;

    --accent: #2b333b;
    --accent-foreground: #fcfcfc;

    --popover: #1d2022;
    --popover-foreground: #a6b1b7;

    --border: #121518;
    --input: #2b333b;

    --card: #0b0d0f;
    --card-foreground: #e7e9eb;

    --primary: #2d22ab;
    --primary-foreground: #e6eaed;

    --secondary: #1d2730;
    --secondary-foreground: #fcfcfc;

    --destructive: #a80000;
    --destructive-foreground: #fcfcfc;

    --ring: #2b333b;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground text-lg;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
  p {
    @apply pb-6;
  }
  h1,
  h2 {
    @apply text-3xl sm:text-5xl md:text-6xl lg:text-[12rem] font-medium;
  }
  h2 {
    @apply text-3xl sm:text-5xl md:text-6xl lg:text-8xl;
  }

  table {
    @apply mb-8 bg-white dark:bg-[#101314] shadow-sm;
  }

  table tr:nth-child(2n) {
    @apply bg-white dark:bg-[#1e2426];
  }

  .markdown {
    th,
    td {
      padding: 3px 13px; /* Reduced top and bottom padding */
      border: 1px solid rgba(164, 164, 164, 0.124);
      font-size: 14px; /* Smaller font size */
    }

    a {
      @apply text-primary font-semibold;
    }

    li {
      @apply pb-2;
    }

    ul,
    ol {
      @apply pb-6;
    }
  }
}
