@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff; /* was 0 0% 100% */
    --foreground: #1b1b1b; /* was 222.2 47.4% 11.2% */

    --muted: #f3f7f9; /* was 210 40% 96.1% */
    --muted-foreground: #72777d; /* was 215.4 16.3% 46.9% */

    --popover: #ffffff; /* was 0 0% 100% */
    --popover-foreground: #1b1b1b; /* was 222.2 47.4% 11.2% */

    --border: #ebeef0; /* was 214.3 31.8% 91.4% */
    --input: #ebeef0; /* was 214.3 31.8% 91.4% */

    --card: #ffffff; /* was 0 0% 100% */
    --card-foreground: #1b1b1b; /* was 222.2 47.4% 11.2% */

    --primary: #d2f65a; /* was 222.2 47.4% 11.2% */
    --primary-foreground: #1b1b1b; /* was 210 40% 98% */

    --secondary: #f3f7f9; /* was 210 40% 96.1% */
    --secondary-foreground: #1b1b1b; /* was 222.2 47.4% 11.2% */

    --accent: #f3f7f9; /* was 210 40% 96.1% */
    --accent-foreground: #1b1b1b; /* was 222.2 47.4% 11.2% */

    --destructive: #ff0000; /* was 0 100% 50% */
    --destructive-foreground: #fcfcfc; /* was 210 40% 98% */

    --ring: #a6b1b7; /* was 215 20.2% 65.1% */

    --radius: 0.5rem;
  }

  .dark {
    --background: #0c0c0c; /* was 224 71% 4% */
    --foreground: #e7e9eb; /* was 213 31% 91% */

    --muted: #1d2730; /* was 223 47% 11% */
    --muted-foreground: #666d73; /* was 215.4 16.3% 56.9% */

    --accent: #2b333b; /* was 216 34% 17% */
    --accent-foreground: #fcfcfc; /* was 210 40% 98% */

    --popover: #350004; /* was 224 71% 4% */
    --popover-foreground: #a6b1b7; /* was 215 20.2% 65.1% */

    --border: #2b333b; /* was 216 34% 17% */
    --input: #2b333b; /* was 216 34% 17% */

    --card: #350004; /* was 224 71% 4% */
    --card-foreground: #e7e9eb; /* was 213 31% 91% */

    --primary: #d2f65a;; /* was 210 40% 98% */
    --primary-foreground: #1d2730; /* was 222.2 47.4% 1.2% */

    --secondary: #1d2730; /* was 222.2 47.4% 11.2% */
    --secondary-foreground: #fcfcfc; /* was 210 40% 98% */

    --destructive: #a80000; /* was 0 63% 31% */
    --destructive-foreground: #fcfcfc; /* was 210 40% 98% */

    --ring: #2b333b; /* was 216 34% 17% */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1,h2 {
    @apply text-3xl sm:text-5xl md:text-6xl lg:text-9xl font-black
  }
 h2 {
  @apply text-3xl sm:text-5xl md:text-6xl lg:text-8xl 
 }
}
